{{define "1.demo1/hello1.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="/s/js/JQuery.min.js"></script>
    </head>
    <body>
    定义一个用户的form表单：
    <form action="/savefile" method="post">
        <input type="file" class="myfile" multiple="multiple">
        <input type="button" value="提交按钮" id="btn">
    </form>
    <script>
        //获取按钮
        var btn = document.getElementById("btn");
        //给按钮加入一个单击事件：
        btn.onclick = function () {
            console.log($(".myfile")); //$(".myfile") 获取到class为myfile的所有文件，形式以数组形式存放
            console.log($(".myfile")[0]);//获取到class为myfile的所有文件中的第一个文件
            console.log($(".myfile")[0].files);//获取到class为myfile的所有文件中的第一个文件中上传的所有文件
            console.log($(".myfile")[0].files[0]);//获取到class为myfile的所有文件中的第一个文件中上传的所有文件的第一个文件
            //创建存放form表单的数据：
            var form_data = new FormData();
            //在form_data添加要传入到后台的元素：
            form_data.append("file",$(".myfile")[0].files[0])
            //利用ajax向后台传递数据：
            $.ajax({
                url : "/savefile",
                type : "POST",
                data : form_data,
                contentType:false,
                processData:false,
                success : function () {
                }
            })
        }
    </script>
    </body>
    </html>
{{end}}